.task-list-item-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 5px;
    cursor: pointer;

    &:hover {
        background-color: #ececec;
    }

    .check-button {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: unset;
        outline: none;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s ease;
        cursor: pointer;

        .check-icon {
            font-size: 10px;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &:hover {
            background-color: #eee;
            transition: background-color 0.3s ease;

            .check-icon {
                opacity: 1;
                transition: opacity 0.3s ease;
            }
        }
    }

    .task-list-item-content {
        width: calc(100% - 30px);
        text-decoration: none;
        color :black;

        .task-list-item-title {
            font-size: 15px;
            font-weight: 500;
        }

        .task-list-item-description {
            margin-top: 5px;
            font-size: 13px;
            color: #989898;
        }

        .task-list-item-extra-info {
            display: flex;
            gap: 10px;

            .extra-item {
                display: flex;
                font-size: 12px;
                color: #8e8e8e;
                margin-top: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2px;
            }

            .overdue-color {
                color : rgb(219, 76, 63)
            }
        }
    }
}

.clear {
    width: 95%;
    margin: auto;
    height: 1px;
    background-color: #eee;
}
