.task-list-container {
    margin-top: 20px;

    .task-list-contain {
        margin : 20px 0 10px ;

        .title {
            font-weight: 600;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            padding  : 10px;
            transition: background-color .3s ease;

            &:hover {
                background-color: rgb(235, 235, 235);
                transition: background-color .3s ease;
            }
        }

        .clear {
            width: 100%;
        }
    }
}
